.body{
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  margin: auto;
}

.News-section{
  margin-top: 30px;
  background-color: rgba(244, 96, 96, 0.389);
  border-radius: 10px;
  padding: 10px  15px  20px;
  margin-bottom: 15px;
}

.child-container{
  max-width: 600px;
  margin-left: 30%;
  justify-content: center;
  border-radius: 10px;
  padding: 10px  15px  20px;
  margin-bottom: 15px;

}

.News-section h3{
  font-size: 1.2em;
  letter-spacing: 1px;
  color: black;
}

.container h1{
  background-color:black;
  color: white;
  text-align: center;
  padding: 5px 8px 15px;
}



.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  padding: 18px 9px;
  margin: 0;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  margin: 0 5px; 
  font-size: 18px;
  background-color: white;
  padding: 10px 12px;
  text-decoration: none;
  color: black;
}

.pagination a:hover {
  background-color: lightgray; 
  color: black; 
}

.pagination .active-page {
  background-color: lightblue; 
  color: white; 
}
